.modal {
  position: relative;
  z-index: 100;
}

.modal div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4));
  display: flex;
  height: 100%;
  position: fixed;
  width: 100vw;
  top: 0vh;
  justify-content: center;
  align-items: center;
}

.none {
  display: none;
}

.modal iframe {
  border: 1vw solid black;
  position: absolute;
  width: 50vw;
  height: 28.125vw;
  background-color: black;
}

.modal iframe {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-top: -40vh;
  }

  to {
    margin-top: 0;
  }
}
